ErrorDocument 403 https://scolberg.netlify.com/error/403
ErrorDocument 404 https://scolberg.netlify.com/error/404
ErrorDocument 500 https://scolberg.netlify.com/error/500

DirectoryIndex start.html
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
