ErrorDocument 403 https://scolberg.netlify.com/403
ErrorDocument 404 https://scolberg.netlify.com/404
ErrorDocument 500 https://scolberg.netlify.com/500

DirectoryIndex home.html
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
