:root {
    --text: #FFFFFF;
    --background: #121212;
    --navBarColor: #282a35;
    --navBarHover: #000000;
    --navBarActive: #04aa6d;
    --blue: rgb(41, 121, 255);
    --green: rgb(42, 252, 152);
    --purple: rgb(66, 33, 99);
}

html.light {
    --text: #000000;
    --background: #FFFFFF;
}

/* Main */
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Verdana;
    padding: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
}

body.fadein {
    opacity: 0;
    transition: opacity 3s;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

#bodyTextLMargin {
    font-size: 30px;
    text-align: center;
    margin-left: 13vh;
    margin-right: 13vh;
}

.bottom {
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 5px;
}

#blueLink {
    color: blue;
}

.icon:hover {
    cursor: pointer;
}

/* navbar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--navBarColor);
}

li {
    float: left;
    border-left: 1px solid var(--navBarColor);
    border-right: 1px solid var(--navBarColor);
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    border-radius: 6px;
}

li a:hover {
    background-color: var(--navBarHover);
}

.active {
    background-color: var(--navBarActive);
}

/* Project Boxes */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-boxes {
    height: 10vh;
    width: 80%;
    border: 4px white solid;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 500ms ease;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.projects>.project-boxes:hover,
.projects>.project-boxes:focus {
    opacity: 0.3;
}

.project-boxes>a>p {
    font-size: 3vh;
}

@keyframes slideBoxLeft {
    0% {
        transform: translateX(-200%);
        overflow: hidden;
    }
    100% {
        transform: translateX(0%);
        overflow: hidden;
    }
}

@keyframes slideBoxRight {
    0% {
        transform: translateX(200%);
        overflow: hidden;
    }

    100% {
        transform: translateX(0%);
        overflow: hidden;
    }
}

#slideBoxLeft {
    animation: 3s ease 0s 1 slideBoxLeft;
}

#slideBoxRight {
    animation: 3s ease 0s 1 slideBoxRight;
}

/* Running */
.pr {
    display: inline;
    text-align: center;
}

.prText {
    size: 3vh;
}

/* About Me Page */
#text {
    margin: 0rem;
    overflow: hidden;
    display: grid;
}

.line {
    display: flex;
    justify-content: space-between;
}

.word, .outer {
    color: white;
    font-size: clamp(1.8rem, 6vw, 8rem);
    font-family: "Rubik", sans-serif;
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 250ms ease;
}

a {
    text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
}

.fancy span {
    display: inline-block;
}

.fancy>.outer {
    transition: transform 350ms ease;
}

.fancy:hover>.outer {
    transition-duration: 800ms;
}

/* Github */
#github:hover>.outer:nth-child(1) {
    transform: translate(-10%, -50%) rotate(-10deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
    color: var(--blue);
}

#github:hover>.outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
    color: var(--blue);
}

/* email */
#email:hover>.outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
    color: var(--green);
}

#email:hover>.outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
    color: var(--green);
}

#email:hover>.outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
    color: var(--green);
}

#email:hover>.outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
    color: var(--green);
}

#email:hover>.outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
    color: var(--green);
}

#email:hover>.outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
    color: var(--green);
}

/* Insta */
#insta:hover>.outer:nth-child(1) {
    transform: translate(50%, -50%) rotate(8deg);
    color: var(--purple);
}

#insta:hover>.outer:nth-child(2) {
    transform: translate(-50%, 40%) rotate(-20deg);
    color: var(--purple);
}

#insta:hover>.outer:nth-child(3) {
    transform: translate(-10%, 80%) rotate(10deg);
    color: var(--purple);
}

#insta:hover>.outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
    color: var(--purple);
}

#insta:hover>.outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
    color: var(--purple);
}

#insta:hover>.outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-7deg);
    color: var(--purple);
}

@keyframes arrowDown {
    0% {}
    20% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(600px);
    }
}

#arrow {
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    font-size: clamp(1.8rem, 6vw, 8rem);
}

.row {
    display: flex;
    align-items: center;
    padding: 20px;
}

.row #skillsImage {
    width: 50px;
    padding: 1.5vw;
    flex: auto;
    aspect-ratio: 3/2;
    object-fit: contain;
}

@keyframes rotate {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

#arrow {
    background-color: transparent;
    border: none;
    text-align: center;
    color: white;
    font-size: clamp(1.8rem, 6vw, 8rem);
}

/* 404 Page */
.fourPage {
    text-align: center;
}

/* Text Styling */
#largeTitle {
    font-size: 60px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

#bodyText {
    font-size: 30px;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
}

#noDot {
    list-style: none;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    width: 15px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: #48be89;
}

/* Home Menu */
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel {
    background: #EEE;
}

.carousel div {
    position: relative;
    text-align: center;
}

.carousel div>a {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.carousel img {
    display: block;
    height: 200px;
}

@media screen and (min-width: 768px) {
    .carousel img {
        height: 400px;
    }
}

/* Photography */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
}

.card p {
    user-select: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    overflow-y: hidden;
}

/* Medium screens */
@media screen and (min-width: 600px) {
    .card-tall {
        grid-row: span 2 / auto;
    }

    .card-wide {
        grid-column: span 2 / auto;
    }
}

#photo {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#photo::-webkit-scrollbar {
    display: none;
}

#instabutton a:hover {
    background-color: inherit;
}